@using gFit.Models.ViewModels
@model gFit.Models.Composite.GauntletParticipation


@section BackButton{
    data-add-back-btn="true"
}

@section Content{

    @{
        string barColor;
        string status;
        if (!Model.IsStarted)
        {
            barColor = "red";
            status = "Not Started";
        }
        else if (Model.InProgress)
        {
            barColor = "yellow";
            status = "In Progress";
        }
        else
        {
            barColor = "green";
            status = "Complete";
        }
    }


    <div class="content-tile-base">
        <div class="content-tile-title">Gauntlet Information</div>
        <div class="left-bar-@barColor">

            <div class="line-item">
                <span class="item-title">Activity:</span><span class="item-value">@Model.Gauntlet.Excercise</span>
            </div>
            <div class="line-item">
                <span class="item-title">Status:</span><span class="item-value">@status</span>
            </div>
            <div class="line-item">
                <span class="item-title">Total Reps:</span><span class="item-value">@Model.Gauntlet.Reps</span>
            </div>
            <div class="line-item">
                <span class="item-title">Reps Done:</span><span class="item-value">@Model.TotalRepsCompleted</span>
            </div>
            <div class="line-item">
                <span class="item-title">Reps Remaining:</span><span class="item-value">@Model.RepsLeft</span>
            </div>

        </div>

    </div>




    @if (@Model.IsComplete)
    {
        
        <div>
            @Model.Statistics.AllParticipations.Count
        </div>
        <div>
            @Model.TotalSetTime
        </div>
        <div>
            @Model.Statistics.MinTotalTime
        </div>
        <div>
            @Model.Statistics.MaxTotalTime
        </div>
        <div> 
            @Model.Statistics.AvgTotalTime
        </div>
    }







    <ul 
        data-role="listview" 
        data-split-icon="delete" 
        data-split-theme="a" 
        data-inset="true">
        <li data-role="list-divider">Sets: @Model.Sets.Count
            @if (@Model.HasIncompleteSet)
            {
                Html.Raw("(1 pending)");
            }

        </li>
        @{ var i = 1; }


        @if (Model.IncompleteSet != null)
        {
            <li data-theme="b">
                <a href="@Url.Action("DoSet", "Gauntlet", new {id = Model.Gauntlet.Id})" data-inline="true">
                    @{ Html.RenderPartial("_DataTilePartial", new DataVM(Model.Sets.Count, "set")); }
                    @{ Html.RenderPartial("_DataTilePartial", new DataVM(String.Format("{0:h:mt}", Model.IncompleteSet.StartTime), "started")); }
                </a>

            </li>
        }




        @foreach (var s in Model.Sets.OrderBy(o => o.StartTime).ToList())
        {
            if (s.Completed)
            {
                <li id="@s.Guid">
                    <a href="#">
                        @{ Html.RenderPartial("_DataTilePartial", new DataVM(i++, "set")); }
                        @{ Html.RenderPartial("_DataTilePartial", new DataVM(s.NumReps.ToString(), "reps")); }
                        @{ Html.RenderPartial("_DataTilePartial", new DataVM(s.RepsPerMinute, "reps/min")); }
                    </a>
                    <a href="#" class="action-delete-li">Delete this set</a>

                </li>
            }
        }

    </ul>


}


@section Footer{

    <div class="center-wrapper">

        @if (!Model.IsStarted)
        {
            <a href="@Url.Action("DoSet", "Gauntlet", new {id = Model.Gauntlet.Id})" 
               data-role="button" 
               data-inline="true" 
               data-icon="arrow-r" 
               data-iconpos="right">Start
            </a>
        }

        @if (Model.InProgress)
        {
            <a href="@Url.Action("DoSet", "Gauntlet", new {id = Model.Gauntlet.Id})" 
               data-role="button" 
               data-inline="true" 
               data-icon="arrow-r" 
               data-iconpos="right">Do Another Set
            </a>
        }

    </div>

}


@section Scripts{

    <script>
        $('.action-delete-li').on('click', function() {
            var guidToDelete = $(this).closest('li').attr('id');

            $.ajax({
                url: "/Gauntlet/DeleteSet/@Model.Gauntlet.Id?setGuid=" + guidToDelete
            });

            $(this).closest('li').remove();
        });
    </script>


    
}