@model gFit.Models.Composite.GauntletParticipation
@using gFit.Models.Base;
@using gFit.Models.ViewModels;


@section BackButton{
data-add-back-btn="true"
}

@section Content{

    @{
        string barColor;
        string status;
        if (!Model.IsStarted)
        {
            barColor = "red";
            status = "Not Started";
        }
        else if (Model.InProgress)
        {
            barColor = "yellow";
            status = "In Progress";
        }
        else
        {
            barColor = "green";
            status = "Complete";
        }
    }


        @{Html.RenderPartial("_DataTilePartial", new DataVM(Model.Gauntlet.Excercise, "activity"));}




    <ul data-role="listview" data-inset="true" data-theme="a">
        <li data-role="list-divider" style="color: @barColor">Status: @status</li>
        @{var i = 1;}


        @if(Model.IncompleteSet != null)
        {
            <li data-theme="b">
                <a href="@Url.Action("DoSet", "Gauntlet", new {id = Model.Gauntlet.Id})" data-inline="true">
                    @{Html.RenderPartial("_DataTilePartial", new DataVM(Model.Sets.Count, "set"));}
                    @{Html.RenderPartial("_DataTilePartial", new DataVM(String.Format("{0:h:mt}", Model.IncompleteSet.StartTime), "started"));}
                </a>
            </li>  
        }
            



        @foreach (Set s in Model.Sets.OrderBy(o => o.Id).ToList<Set>())
        {
                
            if(s.Completed)
            {
                <li data-icon="check">
                    <a href="#">
                    @{Html.RenderPartial("_DataTilePartial", new DataVM(i++, "set"));}
                    @{Html.RenderPartial("_DataTilePartial", new DataVM(s.NumReps.ToString(), "reps"));}
                    @{Html.RenderPartial("_DataTilePartial", new DataVM(s.RepsPerMinute, "reps/min"));}
                        </a>
                </li>   
            }
            else{
                               
            }

        }

    </ul>


}


@section Footer{

    <div class="center-wrapper">

        @if (!Model.IsStarted)
        {
            <a href="@Url.Action("DoSet", "Gauntlet", new { id = Model.Gauntlet.Id })" 
                data-role="button" 
                data-inline="true" 
                data-icon="arrow-r" 
                data-iconpos="right">Start
            </a>    
        }

        @if (Model.InProgress)
        {
            <a href="@Url.Action("DoSet", "Gauntlet", new { id = Model.Gauntlet.Id })" 
                data-role="button" 
                data-inline="true" 
                data-icon="arrow-r" 
                data-iconpos="right">Continue
            </a>  
        }

    </div>

}