<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @{
        //@Styles.Render("~/Content/themes/base/css") - a bunch of jquery themes, don't seem to need them, also seem to screw up jquerymobile        
    }

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/custom/css")

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />


    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymobile")



</head>



<body>

    @RenderBody()





</body>



</html>
