@model gSculpt.Models.Gauntlet


@section BackButton{
data-add-back-btn="true"
}

@section Content{


    <div class="gauntlet-display">

        @Model.Id
        @Model.Excercise
        @Model.Reps
        @Model.DateCreated
        @Model.DateAssigned


    </div>



}
